:root {
    --revalia-font: 'Revalia', sans-serif;
    --russo-font: 'Russo One', sans-serif;
    --color-red: #FF3333;
    --color-white: #F8F7F3;
    --color-black: #161616;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: var(--color-white);
    text-decoration: none;
}
html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    font-family: var(--russo-font);
    overflow-x: hidden;
    background-color: var(--color-black);
    color: var(--color-white);
}
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-black);
}
header {
    width: 100%;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    padding: 2rem 3.5rem;
    justify-content: space-between;
    height: 80px;
}
nav {
    display: flex;
    gap: 15px;
}
nav a:hover, nav a:focus {
    filter: drop-shadow(0px 0px 8px #fff);
}
header img {
    height: 50px;
}
#container-login {
    display: flex;
    gap: 15px;
}
.btn {
    padding: 0.3rem 1.3rem;
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    border-radius: 4px;
    color: var(--color-white);
    font-family: var(--russo-font);
    cursor: pointer;
}
.btn:hover, .btn:focus {
    filter: drop-shadow(0px 0px 8px var(--color-red));
}
#cadaster {
    background-color: transparent !important;

}
#apresention {
    position: relative;
    background: url(./img/BackGroundSite.svg);
    background-size: cover;
    height: 90vh;
}
#container-apresention {
    width: 85%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}
#container-text {
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}
#container-text h1 {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    -webkit-text-stroke: 1.2px gray;
    text-stroke: 1.2px #000000;
    color: var(--color-white);
    filter: drop-shadow(5px 5px 3px black);
    font-family: var(--russo-font);
}
#container-text p {
    font-size: 1.3rem;
    max-width: 430px;
    color: var(--color-white);
    font-family: var(--revalia-font);
    font-weight: 100;
    filter: drop-shadow(5px 5px 3px black);
}
#storyBtn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
}
#container-video {
    height: 315px;
    width: 560px;
}
#container-message {
    position: absolute;
    background-color: var(--color-red);
    border: 1px solid var(--color-white);
    height: 100px;
    width: 65%;
    bottom: -7%;
    left: 15%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--revalia-font);
}
#container-message h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}
main {
    padding: 2rem 0px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.news {
    width: 85%;
    display: flex;
    margin: 0 auto;
    gap: 20px;
}
.news-img {
    width: 400px;
    height: 250px;
}
#news-reverse {
    justify-content: end;
}
#news1 {
    background-image: url(./img/fundo\ 4.jfif);
    background-size:cover;
}
#news2 {
    background-image: url(./img/fundo\ 6.jfif);
    background-size: cover;
}
#news3 {
    background-image: url(./img/imagem\ fundo.jfif);
    background-size: cover;
}
.news-text {
    width: 550px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.news-text h1 {
    border-left: 8px solid var(--color-white);
    padding-left: 10px;
    letter-spacing: .2rem;
}
#galeryImg {
    padding: 2rem 0px;
}
#galeryImg h1 {
    text-align: center;
    margin-bottom: 2rem;
}
#container-galery-img {
    height: 550px;
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 50% 50%;
    gap: 20px;
    flex-wrap: wrap;
    padding: 4rem 0px;
}
.galery-img {
    background-color: #C4C4C4;
    filter: brightness(0.5);
    padding: 0px 2rem;
    height: auto;
    transition: .5s;
}
.galery-img:hover {
    background-color: #C4C4C4;
    filter: brightness(1);
}
#dream-galery1 {
    grid-column: 1 / 3;
    grid-row: 1;
    background-image: url(./img/fundo\ 7.jfif);
    background-size: cover;
}
#dream-galery2 {
    grid-row: 1 / 3;
    background-image: url(./img/ApresentionBG.jfif);
    background-size: cover;
}
#dream-galery3 {
    background-image: url(./img/fundo\ 4.jfif);
    background-size: cover;
}
#dream-galery4 {
    background-image: url(./img/fundo\ 6.jfif);
    background-size: cover;
}
#major-news {
    width: 85%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-around;
}
#major-img {
    background-image: url(./img/Novidadesone.jfif);
    width: 400px;
    height: 500px;
    background-size: cover;
}
#major-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
    letter-spacing: 1px;
}
#container-downloads {
    font-family: var(--revalia-font);
    font-weight: 100;
    background-color: var(--color-red);
    padding: 3rem 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.download {
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.download-text {
    display: flex;
    flex-direction: column;
}
.download-text h2{
    color: #0c0c0c;
}
#downloads-links {
    padding: 4rem 0px 2rem 0px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
#downloads-links a img{
    width: 100px;
    filter: brightness(0);
}
#downloads-links a img:hover, #downloads-links a img:hover:focus {
    filter: brightness(0) drop-shadow(0px 0px 8px var(--color-white));
}
footer {
    padding: 3rem 0px;
    text-align: center;
}
#container-footer{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-links p, #container-midias-sociais p{
    padding-bottom: 1rem;
    color: var(--color-red);
}
.footer-links a{
    padding-bottom: .5rem;
}
.footer-links a:hover, .footer-links a:focus{
    text-decoration: underline;
    color: var(--color-red);
}
#container-midias-sociais {
    display: flex;
    gap: 30px;
}
#container-midias-sociais a{
    font-size: 2rem;
}
hr {
    width: 70%;
    margin: 2rem auto;
}
@media screen and (max-width: 1200px) {
    #apresention {
        height: auto !important;
        padding: 3rem 0px 6rem 0px;
    }
    #container-apresention {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 830px) {
    nav {
        display: none;
    }
    .news {
        flex-direction: column;
        align-items: center;
    }
    #news-reverse {
        flex-direction: column-reverse !important;
    }
}